<ion-view>
    <ion-header-bar class="verdiBar">
        <h1 class="title">Chatter alpha</h1>
    </ion-header-bar>
    <ion-content scroll="false">
        <div class="mainContainer">
            <ion-scroll direction="y" style="width: 100%; height: 100%;" delegate-handle="chatScroll" has-bouncing="true">
                <ion-list can-swipe="true">
                    <ion-item class="item-avatar-left" ng-repeat="(key,post) in posts">
                        <img ng-src="https://pbs.twimg.com/profile_images/378800000822867536/3f5a00acf72df93528b6bb7cd0a4fd0c.jpeg">
                        <h2>{{post.msg}}</h2>
                        <p>{{post.username}}</p>
                        <ion-option-button class="button-assertive" ng-click="delPost(key)">
                            DELETE NNA
                        </ion-option-button>
                    </ion-item>
                </ion-list>
            </ion-scroll>
        </div>
    </ion-content>
    <form>
        <ion-footer-bar>
            <div class="item-input-inset" style="width:100%;">
                <label class="item-input-wrapper">
                    <input style="width:100%;" type="text" placeholder="{{input.placeholder}}" ng-model="input.mesaj">
                </label>
                <button class="button button-clear" ng-click="sendMessage(input)">
                    send
                </button>
            </div>
        </ion-footer-bar>
    </form>
</ion-view>
