.mainContainer {
    width: 100%;
    height: 100%;
    background-color: black;
}

.verdiBar {
    background-color: #165E38 !important;
}

.verdiBar .title {
    color: white !important;
}

.verdiSidebar {
    background-color: #0B2F1C !important;
}

.sidemenu-item {
    border-color: rgb(5, 17, 11) !important;
    background-color: transparent !important;
    color: #26A463 !important;
}
/* Do not remove this comments bellow. It's the markers used by wiredep to inject
   sass dependencies when defined in the bower.json of your dependencies */

// bower:scss
// endbower
