<form>
    <div class="list">
        <label class="item item-input">
            <span class="input-label">Email</span>
            <input type="email" ng-model='loguser.email'>
        </label>
        <label class="item item-input">
            <span class="input-label">Password</span>
            <input type="password" ng-model='loguser.pass'>
        </label>
    </div>
    <button class="button button-full button-positive" ng-click="logIn(loguser)">
        Login
    </button>
</form>
<button class="button button-full button-positive" ng-click="register()">
    Register
</button>
