<form>
    <div class="list">
        <label class="item item-input">
            <span class="input-label">Email</span>
            <input type="email" ng-model='reguser.email'>
        </label>
        <label class="item item-input">
            <span class="input-label">Password</span>
            <input type="password" ng-model='reguser.pass'>
        </label>
    </div>
    <button class="button button-full button-positive" ng-click="reg(reguser)">
        Register
    </button>
</form>
<button class="button button-full button-positive" ng-click="goToLogin()">
    Back to login
</button>
