<ion-side-menus>
    <ion-side-menu-content>
        <ion-nav-view name="viewContent"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left" class="side-menu verdiSidebar">
        <div class="list sidemenu-list">
            <a menu-close class="item item-icon-left sidemenu-item" ng-click="logOut()">
                <i class="icon ion-log-out sidemenu-icon"></i> Log Out
            </a>
        </div>
    </ion-side-menu>
</ion-side-menus>
